* {
  padding: 0;
  margin: 0;
  list-style: none;
  box-sizing: border-box;
  text-decoration: none;
  scroll-behavior: smooth;
}
:root {
  --main-color: #980404;
  --bg-color: #5a0101;
  --background: rgb(213, 211, 211);
  --gray-bg: rgb(64, 64, 64);
  --secondary-color: #ff9000;
  --font-family: "Ubuntu", sans-serif;
  --second-font: "Playwrite NO", cursive;
  --font-weight: bold;
  --white-color: #ffffff;
  --black-color: #000000;
}
body {
  position: relative;
}
/* nav section  */
.nav_container {
  width: 100%;
  padding: 0.5rem 1.5rem;
  display: flex;
  justify-content: space-around;
  align-items: center;
  border: 1px solid transparent;
  box-shadow: 1px 1px 5px var(--main-color);
  background-color: var(--bg-color);
  position: fixed;
  top: 0;
  z-index: 1000;
}
.nav_container h2 {
  font-family: var(--font-family);
  color: var(--white-color);
  font-size: 1.5rem;
  font-weight: var(--font-weight);
  transition: all 0.3s;
}
.nav_container h2:hover {
  color: var(--secondary-color);
}
.navlinks a {
  display: inline-block;
  font-family: var(--font-family);
  border-radius: 0.2rem;
  padding: 0.5rem 1rem;
  margin: 0 0.2rem;
  color: var(--secondary-color);
}
.navlinks a:hover {
  background-color: var(--secondary-color);
  color: var(--black-color);
  transition: 0.3s;
}
/* menu bar  */
.menubar {
  display: none;
  cursor: pointer;
}
.show {
  transform: translateY(0%) !important;

  transition: 0.3s;
}
/* home section  */
.home {
  width: 100%;
  padding: 1.2rem 1rem;
  /* height: 100vh; */
  background-color: var(--bg-color);
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  align-items: center;
  gap: 0.5rem;
}
.home div {
  flex: 1 1 250px;
  padding: 2.5rem;
}
.coffeeinfo h2 {
  font-family: var(--second-font);
  color: var(--secondary-color);
  font-weight: var(--font-weight);
}
.coffeeinfo h1 {
  font-family: var(--font-family);
  color: var(--white-color);
  font-weight: var(--font-weight);
  margin: 1rem 0;
}
.coffeeinfo p {
  font-family: var(--font-family);
  color: var(--white-color);
  margin: 1.5rem 0;
}
.call_action {
  display: flex;
  justify-content: start;
  gap: 0.5rem;
  /* background-color: aqua; */
  margin: 1.5rem 0;
}
.call_action a {
  text-align: center;
  width: 130px;
  padding: 0.7em 1.2rem;
  border-radius: 2rem;
  font-family: var(--font-family);
  font-size: 0.9rem;
}
.order {
  color: var(--main-color);
  background-color: var(--secondary-color);
  font-weight: var(--font-weight);
  cursor: pointer;
  transition: all 0.3s;
}
.order:hover {
  background-color: #f99a1d;
  color: var(--black-color);
  box-shadow: 1px 1px 5px #f99a1d;
}
.call:hover {
  background-color: #f99a1d;
  color: var(--black-color);
  box-shadow: 1px 1px 5px #f99a1d;
  border-color: #f99a1d;
}
.call {
  color: var(--white-color);
  background-color: transparent;
  font-weight: var(--font-weight);
  border: 1px solid var(--white-color);
  cursor: pointer;
  transition: all 0.3s;
}
.coffeeimg img {
  width: 90%;
}
/* about section  */
.about {
  width: 100%;
  /* height: 100vh; */
  background-color: gainsboro;
  display: flex;
  justify-content: center;
  gap: 0.5rem;
  flex-wrap: wrap;
  align-items: center;
  padding: 1rem;
}
.about div {
  flex: 1 1 300px;
}
.about .about_info {
  text-align: center;
  font-family: var(--font-family);
}
.about .about_info h1 {
  color: var(--secondary-color);
  font-size: 2rem;
  font-weight: var(--font-weight);
}
.about .about_info p {
  margin: 2.5rem 0;
}
.socials i {
  margin: 0 0.2rem;
}
/* menu section  */
.menu {
  width: 100%;
  /* height: 100vh; */
  background-color: rgba(10, 10, 10, 0.814);
  padding: 1rem;
}
.menu-title {
  text-align: center;
  font-family: var(--font-family);
  color: var(--secondary-color);
  font-size: 2rem;
  padding: 1.5rem;
  font-weight: var(--font-weight);
}
.menu-card {
  display: flex;
  justify-content: center;
  gap: 1rem;
  flex-wrap: wrap;
  align-items: center;
}
.menu-card div {
  flex: 0 1 400px;
  /* background-color: greenyellow; */
  text-align: center;
  overflow: hidden;
}

.menu-card .card {
  font-family: var(--font-family);
  color: var(--white-color);
  text-align: center;
}
.menu-card .card h3 {
  font-size: 1.3rem;
  font-weight: var(--font-weight);
}
.menu-card .card img {
  transition: all 0.3s;
  cursor: pointer;
}
.card:hover img {
  transform: scale(1.1);
}
.menu-card .card p {
  margin: 0.5rem 0;
}
/* gallery section  */
.gallery {
  width: 100%;
  padding: 1rem;
  background-color: var(--background);
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}
.gallery-title {
  text-align: center;
  font-size: 1.5rem;
  font-weight: var(--font-weight);
  font-family: var(--font-family);
  color: var(--secondary-color);
}
.container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  padding: 1rem;
  gap: 1rem;
}
.container-card {
  text-align: center;
  font-family: var(--font-family);
  color: var(--black-color);
  flex: 1 1 350px;
}
.container-card img {
  transition: all 0.3s;
  cursor: pointer;
}
.container-card:hover img {
  transform: scale(1.1);
}
.container-card img {
  border-radius: 50%;
}
.container-card h2 {
  font-size: 1.5rem;
  font-weight: var(--font-weight);
  margin: 1rem 0;
}
/* photo start  */
.photo {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 1rem;
}
.photo-contiainer {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  gap: 1.5rem;
}
.photo-contiainer .photo-container_img {
  flex: 1 1 400px;
  overflow: hidden;
  border-radius: 0.5rem;
  width: 100%;
  /* height: 300px; */
  object-fit: cover;
  position: relative;
}
.photo-contiainer .photo-container_img img {
  transition: all 0.3s;
  cursor: pointer;
}
.photo-container_img-info {
  position: absolute;
  width: 100%;
  background-color: var(--bg-color);
  text-align: center;
  font-family: var(--font-family);
  color: var(--white-color);
  padding: 1rem;
  bottom: 0;
  transform: translateY(150%);
  transition: all 0.3s;
}
.photo-container_img:hover img {
  transform: scale(1.2);
}
.photo-container_img:hover .photo-container_img-info {
  transform: translateY(0);
}
/* photo end  */
/* contact section  */
.contact {
  width: 100%;
}
.contact-title {
  text-align: center;
  font-size: 2rem;
  color: var(--secondary-color);
  font-family: var(--font-family);
  font-weight: var(--font-weight);
  margin: 1rem 0;
}
.contact-container {
  display: flex;
  justify-content: center;
  gap: 1.5rem;
  flex-wrap: wrap;
  padding: 1.2rem;
}
.contact-container div {
  flex: 1 1 350px;
  padding: 1rem;
}
.contact-info {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: start;
  font-family: var(--font-family);
  line-height: 2.5rem;
}
.contact-form {
  font-family: var(--font-family);
}
.contact-form form input {
  width: 100%;
  margin: 0.5rem 0;
  padding: 1rem;
  border-radius: 0.5rem;
  background-color: transparent;
}
.contact-form form input:focus {
  border-color: var(--secondary-color);
  outline: none;
}
.contact-form form textarea {
  width: 100%;
  padding: 1rem;
  border-radius: 0.5rem;
  box-sizing: border-box;
  margin: 0.5rem 0;
  background-color: transparent;
}
.contact-form form textarea:focus {
  border-color: var(--secondary-color);
}
.contact-form .button {
  color: var(--white-color);
  background-color: var(--main-color);
  border-radius: 1rem;
  padding: 0.8rem 2.5rem;
  margin: 1rem 0;
  cursor: pointer;
  transition: 0.3s all;
  font-weight: var(--font-weight);
}
.contact-form .button:hover {
  background-color: var(--bg-color);
}
/* footer  */
.footer {
  width: 100%;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  align-items: center;
  gap: 1rem;
  padding: 1.2rem;
  font-family: var(--font-family);
  background-color: var(--gray-bg);
  text-align: center;
  color: var(--white-color);
}
.footer span {
  flex: 1 0 300px;
}
.footer-socials {
  color: var(--white-color);
  cursor: pointer;
}
.footer-socials i {
  margin: 0 0.5rem;
  border-radius: 0.2rem;
  font-size: 1.3rem;
}
.footer-socials i:hover {
  color: var(--secondary-color);
}
.footer span a:hover {
  color: var(--secondary-color);
}
.uparrow {
  position: fixed;
  bottom: 5%;
  right: 5%;
  font-size: 2.5rem;
  z-index: 500;
}
